<div ng-controller="AddCommentController">

    <div id="toolbar" ng-controller="ToolbarController">
        <header>
            <span class="headerInner" ng-bind-template="Add comment"></span>
        </header>

        <div>
            <button class="btn btn-left" ng-click="onBackBtnTap()">Back</button>
        </div>
    </div>

    <div id="wrapper" class="scrollContainer" scroll-container>
        <div class="content">
            <div class="inner innerPadding">
                <form novalidate class="simple-form" ng-submit="addCommentSubmit(comment)">
                    <p>
                        <textarea id="inputContent"
                                  class="input-block-level"
                                  cols="30"
                                  rows="10"
                                  ng-model="comment.content"></textarea>
                    </p>

                    <p>
                        <button type="submit"
                                class="btn btn-large btn-block"
                                ng-disabled="!comment">Submit</button>
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>