
<div ng-controller="BlogPostListController">
    <div id="toolbar" ng-controller="ToolbarController">
        <header>
            <span class="headerInner" ng-bind-template="Mobile-Blog"></span>
        </header>

        <div ng-switch="userService.isLoggedIn()">
            <!-- user is not logged-in -->
            <div ng-switch-when="false">
                <button class="btn btn-right" ng-click="routeTo('/login')">Login</button>
            </div>

            <!-- user is logged-in -->
            <div ng-switch-when="true">
                <button class="btn btn-left" ng-click="onLogoutBtnTap()">Logout</button>
                <button class="btn btn-right" ng-click="routeTo('/post/add')">Add post</button>
            </div>
        </div>
    </div>

    <div id="wrapper" class="scrollContainer" scroll-container>
        <div class="content">
            <div class="inner">
                <ul id="blogPostList">
                    <li ng-repeat="post in blogPostService.blogPosts" pressed>
                        <a href="#/post/{{ post.id }}" class="nocallout">
                            <span class="listItemTitle">{{ post.id }} {{ post.title }}</span>
                            <span class="listItemPreview">{{ post.content | blogPostPreview }}</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
